@{
    ViewData["Title"] = "SoccerPlayer Information | Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Player Information Page </h1>
    <div>
        <h3>SELECT AN OPTION:</h3>
        <div class="optionList">
            <div class="optionItem"><a href="~/Player/Index">PLAYERS</a></div>
        </div>
    </div>
</div>


